<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cargo</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginuser</display-name>
    <servlet-name>loginuser</servlet-name>
    <servlet-class>com.cargo.services.loginuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginuser</servlet-name>
    <url-pattern>/loginuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>com.cargo.services.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thanks</display-name>
    <servlet-name>thanks</servlet-name>
    <servlet-class>com.cargo.services.thank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thanks</servlet-name>
    <url-pattern>/thanks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.cargo.services.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.cargo.services.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cargobooking</display-name>
    <servlet-name>cargobooking</servlet-name>
    <servlet-class>com.cargo.services.cargobooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cargobooking</servlet-name>
    <url-pattern>/cargobooking</url-pattern>
  </servlet-mapping>
</web-app>